-# some comment
%script#tpl-my-test-template{ type: 'text/template' }
  %h1 {{= name }}
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nihil minus, contraque illa hereditate dives ob eamque rem laetus. Nondum autem explanatum satis, erat, quid maxime natura vellet. Nam adhuc, meo fortasse vitio, quid ego quaeram non perspicis.
