%header
  #header-logo-container
    = graspi_image_tag('base/logo.png')
  #header-headline-container
    %h1 Grunt Asset Pipeline
  #header-add-button
    = link_to '#' do
      %i.plus
      Add
.grid-container
  .grid-row
    .grid-col
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant?
    .grid-col
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant?

  %cmi-checkbox
  %br/
  %br/
  %iron-icon(src="star.png")
  %iron-icon(src="account-box.png")
  %br/
  %br/
  %paper-checkbox Check
  %br/
  %br/
  %paper-button Check
  %br/
  %br/
  %paper-fab{ icon: 'add' }
  %br/
  %paper-fab(icon="favorite" mini)
  %br/
  %br/
  %paper-input( label="My Label" )
  %br/
  %paper-input( label="My Label" error-message="Invalid input!" )
  %br/
  %paper-input( label="My Label" char-counter label="Input label" )
  %br/
  -#%paper-textarea( label="My Label" )
  -#%br/
  %paper-input-container
    %label Yoooo
    %input( is="iron-input" )

%footer
  #footer-kitten