%header
  #header-logo-container
    = graspi_image_tag('base/logo.png')
  #header-headline-container
    %h1 Grunt Asset Pipeline
  #header-add-button
    = link_to '#' do
      %i.plus
      Add
.grid-container
  .grid-row
    .grid-col
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant?
    .grid-col
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant?

  %cmi-checkbox

%footer
  #footer-kitten