.grid-container
  %h1 Hallo grapsi
  .grid-row
    .grid-col-6
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant?
    .grid-col-6
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant?

